/*this is my grid style for all pages*/
.grid-container {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-gap: 10px;

}

.grid-item {
    background-color: #fbfff1;
    text-align: left;
    font-size: 30px;
    padding: 20px;
}

.navmenu {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.main-image {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.main-content {
    grid-column: 1 / span 2;
    grid-row: 3 / span 5;
}

.side-image-1 {
    grid-column: 3;
    grid-row: 3;
}

.side-image-2 {
    grid-column: 3;
    grid-row: 4;
}

.side-image-3 {
    grid-column: 3;
    grid-row: 5;
}

/*appearance*/
table,
th,
td {
    border: 1px solid black;
}

h1,
h2 {
    font-family: "field-gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/*nav menu style*/
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3C3744;
}

.nav li a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #fbfff1;
}

.nav li a:hover {
    background-color: rgb(31, 31, 31);
}

.active-navpage {
    background-color: #3d52d5;
}

.footer {
    position: fixed;
    background-color: #b4c5e4;
    color: #fbfff1;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
}