p {
    font-family: "gelica", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "kit-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.blog-post {
    margin-bottom: 4rem;
}

.button-color {
    background-color: rgb(107, 127, 217);
}

.hightlight-text {
    color: rgb(57, 139, 57);
}