p {
    font-family: "gelica", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "kit-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.blog-post {
    margin-bottom: 4rem;
}

.primary-text {
    color: rgb(64, 131, 64);
}

.secondary-text {
    color: rgb(107, 127, 217);
}

.primary-background {
    background-color: rgb(64, 131, 64);
}

.secondary-background {
    background-color: rgb(105, 129, 226);
}

.secondary-background-light {
    background-color: rgba(105, 129, 226, 0.781);
}

hr.solid {
    border-top: 7px solid rgb(64, 131, 64);
    margin-top: -6px;
    padding-top: 0px;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}