body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
    margin-bottom: 12px
}

.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/w3images/profile_girl.jpg');
    min-height: 100%;
}

.scroll-container {
    height: 1000px;
    /* large enough to allow scrolling */
    background: #000;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hire_button {
    position: fixed;
    margin: auto;
    border: 1px solid black;
    animation-duration: 12s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: spin;

}

@keyframes spin {

    0% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
        offset-distance: 0px;
        animation-timing-function: linear;
    }

    100% {
        transform: rotate(360deg) scale(1);
        opacity: 1;
        offset-distance: 0px;
    }


}