body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
    margin-bottom: 12px
}

.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/image_001.png');
    min-height: 100%;
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hire_button {
    position: fixed;
    margin: auto;
    will-change: transform;
    cursor: url("../images/plane_icon.svg") 10 10, auto;
}